<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Comparador de teléfonos</h2>
      <p class="bg-success p-3">
        $ctrl.mostrar: {{ $ctrl.mostrar }}<br>
        $ctrl.phone1: {{ $ctrl.phone1.id }}<br>
        $ctrl.phone2: {{ $ctrl.phone2.id }}<br>
      </p>
    </div>
  </div>

  <div class="row">

    <div class="col-2">      
      <input type="search" ng-model="nombre" placeholder="Busca por nombre">
      <select ng-model="filtro.atributo" ng-init="filtro.atributo='flash'">
        <option value="ram">RAM</option>
        <option value="flash">FLASH</option>
      </select>

      <br>
      <label>MIN {{filtro.min}}</label>
      <input type="range" ng-model="filtro.min" ng-init="filtro.min=0" step="512" max="2048" min="0">

      <label>MAX {{filtro.max}}</label>
      <input type="range" ng-model="filtro.max" ng-init="filtro.max=32000" step="512" max="32000" min="0">

      <ul class="list-group">
        <li class="list-group-item" 
            ng-repeat="phone in $ctrl.phones | filter:nombre | filtroTelefonos:filtro.atributo:filtro.min:filtro.max"
            ng-click="$ctrl.selecionar(phone)">
          <img ng-src="{{phone.imageUrl}}" class="responsive"/>
          {{phone.name}}
          <br>
          FLASH:{{phone.flash}}  RAM:{{phone.ram}}
        </li>          
      </ul>
    </div> <!-- col-2 -->

    <div class="col-5 thumbnail">      
      <phone-comparador-detalle telefono1="$ctrl.phone1" telefono2="$ctrl.phone2" probando="true"></phone-comparador-detalle>
    </div>
      
    <div class="col-5 thumbnail">
        <phone-comparador-detalle telefono1="$ctrl.phone2" telefono2="$ctrl.phone1"></phone-comparador-detalle>
    </div>

  </div><!-- col-2 -->
</div>
