<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Comparador de teléfonos</h2>
      <p class="bg-success p-3">
        $ctrl.mostrar: {{ $ctrl.mostrar }}<br>
        $ctrl.phone1: {{ $ctrl.phone1.id }}<br>
        $ctrl.phone2: {{ $ctrl.phone2.id }}<br>
      </p>
    </div>
  </div>
  

  <div class="row thumbnail">
    <div class="col ">
      <h3>Filtrador de teléfonos</h3>
      <a href="https://codepen.io/jakob-e/pen/RPGqXK">Codepen de ejemplo.</a>
      <div class="row">
        <div class="col thumbnail">
          <h4>Por precio</h4>

          <input type="range" 
               min="0" 
               max="1024"
               numeric
               data-ng-model="ui.min" ><br>
               {{ ui.min }} Mb.

        </div>
        <div class="col thumbnail">
          <h4>Por flash</h4>

          <input type="range" 
               min="0" 
               max="1024"
               numeric
               data-ng-model="ui.min" ><br>
               {{ ui.min }} Mb.

        </div>
        <div class="col thumbnail">
          <h4>Por RAM</h4>

          <input type="range" 
               min="0" 
               max="1024"
               numeric
               data-ng-model="ui.min" ><br>
               {{ ui.min }} Mb.

        </div>
      </div> <!-- .row -->
    </div> <!-- .col -->
  </div> <!-- .row -->



  <div class="row">
    <div class="col-2">      
      Listado de móviles
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="phone in $ctrl.phones" ng-click="$ctrl.seleccionar(phone)">
          <img ng-src="{{ phone.imageUrl }}" class="responsive">
          {{ phone.name }}
        </li>
      </ul>
    </div>

    <div class="col-5 thumbnail">      
      <phone-comparador-detalle telefono1="$ctrl.phone1" telefono2="$ctrl.phone2" probando="true"></phone-comparador-detalle>
    </div>
      
    <div class="col-5 thumbnail">
        <phone-comparador-detalle telefono1="$ctrl.phone2" telefono2="$ctrl.phone1"></phone-comparador-detalle>
    </div>

    </div>
  </div>
</div>
